<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>
    <div class="container">
        <header>
            <h1>Öğrenci Kullanıcı Sayfası</h1>
        </header>
        <div class="main">
            
            <div class="assignment-card">
               
            </div>

            <div class="assignment-card">
               
            </div>

            
            <div class="contact-card">
               
            </div>

           
            <div>
                <a href="odevEkle.cshtml" class="button">Ödev Ekle</a>
            </div>
        </div>
    </div>
</body>

</html>
